@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@100;500&display=swap');

html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
    min-width: 360px;
}

h1{
    text-align: center;
}
/** Home Page**/
.barn {
    background-image: url(/frankies/images/site/barn-sm.png);
    background-repeat: no-repeat;
    height: 600px;

}

/** Nav Bar**/

#bannerimg{
    width: 100%;
}

.bg-dark {
    background-color: #024959!important;
    padding: 0;
}

#nav-image{
    width: 50px;
}

.accountLink{
    text-decoration: none;
    color: white;
}

/**Animal Images**/
.displayImg {
    width: 200px;
}

/**Forms**/

.formRight{
    text-align: right;
}

.formLeft {
    text-align: left;
}

.divRow{
    background-color: #99A66A;
    margin-bottom: 15px;
    padding: 6px;
}

#farmLabel{
    margin-left: 3px;
}

.col {
    margin: auto;
}

.explain{
    margin-top: .5rem;
    margin-bottom: .5rem;;
}

select {
    width: 100px;
}


/**Animal Displays**/


.classificationHeadings{
    text-align: center;
}

#animal-display {
    list-style:none;
}

.detailLink{
    text-decoration: none;
    color: #024959;
}

.detailLink a:hover{
    font-size: 1.6rem;
    color: #99A66A;
}

.animalName{
    color: #D99152;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 6px;
}

#detailDisplay{
    margin: auto;
    text-align: center;
}

/**Forms**/
.accountForms {
    width: 90%;
    margin: auto;
}

/**Footer**/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}